{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'base.css' %}">
      <link rel="shortcut icon" href="/static/favicon/Pixel_Hobbit.jpg">
      <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
      {% block header_extends %}{% endblock %}
  </head>
  <body>
    <!--	nav start -->
      	<div class="section" id="nav">
      		<ul>
      			<li><a class="{% block nav_home_active %}{% endblock %}" href="{% url 'home' %}">Home</a></li>
      			<li><a class="{% block nav_blog_active %}{% endblock %}" href="{% url 'blog_list' %}">Blog</a></li>
      			<li><a class="{% block nav_share_active %}{% endblock %}" href="{% url 'share_list' %}">Share</a></li>
      			<li><a class="{% block nav_views_active %}{% endblock %}" href="{% url 'view_list' %}">Views</a></li>
      			<li><a class="{% block nav_stars_active %}{% endblock %}" href="{% url 'stars_list' %}">Stars</a></li>
      		</ul>
      	</div>
      	<!--	nav end -->

      {% block content %}{% endblock %}
  </body>
</html>
