{% extends 'base.html' %}
{% block title %}
    Pixel_Hobbit's site|Stars
{% endblock %}
{% block nav_stars_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'stars/stars.css' %}">
{% endblock %}

{% block content %}
<div class="section" id="stars_list">
  {% for star in stars %}
    <a href="{% url 'star_detail' star.pk %}"><img src="{{ star.image.url }}"></a>
  {% empty %}
    <h3 style="padding-top:50px;text-align:center;">暂无内容，敬请期待</h3>
  {% endfor %}
</div>
{% endblock %}
