body {
    font-family: 'Handlee', cursive;
    background-color: #efefef;
    margin: 0;
}
a {
    color: gray;
	text-decoration: none;
}
 a:hover:not(.active) {
    color: indigo;
}
li {
  list-style: none;
}
.section {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
	margin: 1% 0 0 1%;
}
.section:hover {
	box-shadow: 10px 10px 5px #888888;
}

/* type_list start */
#type_list {
    width: 20%;
	height: 215px;
	float: left;
}
/* type_list end */

/* header start */
#header {
	padding-top: 15px;
  background-size: cover;
  background-image: url("/static/image/share.jpg");
    background-position: 20% 20%;
	float: left;
	width: 77%;
	height: 200px;
}
/* header end */

/* date_list start */
#date_list {
  float: left;
  width: 20%;
  height: 300px;
}
/* date_list end */

/* context start */
#context {
	  float: left;
	  width: 78%;
	height: 300px;
  margin-left: 3px;
}
#share_list {
  float: left;
  width: 23.95%;
  text-align: center;
  padding-bottom: 5px;
}
#share_list_none {
	min-height: 200px;
}
/* context end */

/* share_detail start */
#share_detail {
  width: 70%;
  margin: auto;
}
/* share_detail end */

/* pagination start */
#pagination {
  width: 100%;
  float: left;
	text-align: center;
}
#pagination ul {
  display: inline-block;
}
#pagination li {
  display: inline;
}
#pagination li a {
  color: gray;
	text-decoration: none;
}
#pagination li a:hover:not(.active) {
  color: indigo;
}
#pagination .active {
  color: darkviolet;
}
/* pagination end */
