{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
<!--	type_list start -->
<div class="section" id="type_list">
 <div>
   <br>
   　　博客分类
 </div>
   <hr width= 95% color=gray>
     <div>
         <ul>
             {% for blog_type in blog_types %}
                 <li>
                     <a href="{% url 'blogs_with_type' blog_type.pk %}">
                         {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                     </a>
                 </li>
             {% empty %}
                 <li>暂无分类</li>
             {% endfor %}
         </ul>
     </div>
</div>
<!--	type_list end -->

<!--	hader start -->
<div class="section" id="header">
</div>
<!--	hader end -->

<!--	date_list start -->
<div class="section" id="date_list">
     <div>
       <br>
       　　日期归档</div>
       <hr width= 95% color=gray>
     <div>
         <ul>
             {% for blog_date, blog_count in blog_dates.items %}
                 <li>
                     <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                         {{ blog_date|date:"Y年m月" }} ({{ blog_count }})
                     </a>
                 </li>
             {% endfor %}
         </ul>
     </div>
</div>
<!--	date_list end -->

<!--	context start -->
  <div id="context">
          {% for blog in blogs %}
              <div class="section" id="blog_list">
                  <h3 style="padding-top:15px"><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                  <p align= left>　
                    <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                    阅读({{ blog.get_read_num }})
                  </p>
                  <p align= left>　{{ blog.content|striptags|truncatechars:120 }}</p>
                  <h3 align=right style="padding-right:3%;">{{ blog.created_time|date:"M d,Y" }}</h3>
              </div>
          {% empty %}
              <div class="section" id="blog_list_none">
                  <h3>暂无博客，敬请期待</h3>
              </div>
          {% endfor %}

  </div>
<!--	context end -->
{% endblock %}
